@use "animation";

main.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1280px;
  height: 800px;
  font-family: "Open Sans";

  & span.error-message {
    color: var(--red_1_-dd3542);
    position: absolute;
    top: 34%;
    left: 40%;
  }

  & span.error-message2 {
    color: var(--red_1_-dd3542);
    position: absolute;
    top: 35%;
    left: 20%;
    text-decoration: underline;
  }

  & form.form-login-card {
    width: 440px;
    height: 476px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    & img {
      display: block;
    }

    & div.card-header {
      width: 368px;
      height: 164px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & img.logo-safipay {
        width: 264px;
        height: 76px;
        background: transparent 0% 0% no-repeat padding-box;
      }

      & h1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 40px/55px
          var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(---413e4d-input-color);
        text-align: center;
        opacity: 1;
        margin: 12px 0 0 0;
      }

      & h2 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)
          var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(---413e4d-input-color);
        text-align: center;
        margin: 0;
      }
    }

    & div.card-body {
      width: 400px;
      height: 156px;
      margin-top: 32px;
      margin-bottom: 32px;
      opacity: 1;
      border-radius: 12px;
      background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 16px #00000029;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12px;

      & div.input-container {
        position: relative;
        background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
        border: 1px solid var(--azul-plomo-50-);
        border-radius: 6px;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        & label.floating-label {
          position: absolute;
          pointer-events: none;
          user-select: none;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: left;
          color: var(--azul-plomo);
          left: 10px;
          top: 50%;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
          transform: translateY(-50%);
          transition: 0.3s ease all;
        }

        & input[type="text"] {
          width: 336px;
          height: 20px;
          border: 0;
          margin: 28px 16px 8px 16px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(---413e4d-input-color);
          text-align: left;
          outline: none;

          &::placeholder {
            color: transparent;
            user-select: none;
          }

          &:focus + label.floating-label,
          &:not(:placeholder-shown) + label.floating-label {
            top: 17px;
            left: 17px;
            font-size: 12px;
            color: var(--azul-plomo);
          }
        }

        & input[type="password"] {
          width: 336px;
          height: 20px;
          border: 0;
          margin: 28px 16px 8px 16px;
          /* font-size: 16px; */
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
            var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(---413e4d-input-color);
          text-align: left;
          outline: none;

          &::placeholder {
            color: transparent;
            user-select: none;
          }

          &:focus + label.floating-label,
          &:not(:placeholder-shown) + label.floating-label {
            top: 17px;
            left: 17px;
            font-size: 12px;
            color: var(--azul-plomo);
          }
        }
      }
    }

    & div.card-footer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & button.btnEnter {
        width: 174px;
        height: 48px;
        background: var(--red_1_-dd3542) 0% 0% no-repeat padding-box;
        border-radius: 24px;
        opacity: 1;
        border: 0;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) var(--unnamed-font-size-16) /
          var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--white_-ffffff);
        text-align: center;
        cursor: pointer;
      }

      & a.link-forget-pass {
        margin-top: 24px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 12px/17px
          var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(---413e4d-input-color);
        text-align: center;
        text-decoration: underline;
      }
    }
  }
}
